.Form {
    border: none;
    border-bottom: 3px #87618d solid;
  }
  
.Button {
    border: none;
    background-color: #87618d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
.Button:hover {
    cursor: pointer;
    background-color: #F2C6D0;
    color: #242a3d;
  }